<!DOCTYPE html>
<html>
<head>
    <title>Voting System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>🗳 Voting System</h2>
    
        <p><b>Project:</b> Smart Voting System using DSA</p>
        <p><b>Subject:</b> Data Structures & Algorithms</p>
        <p><b>Class:</b>  4 CSE H1</p>
    
        <hr>
    
        <h3>👥 Team Members</h3>
    
        <p><b>Patel Het</b><br>IU2441230726</p>
    
        <p><b>Hetasvi Rathod</b><br>IU2441230716</p>
    
        <p><b>Tanvee Patel</b><br>IU2441230715</p>
    
        <hr>
    
        <h3>🧠 DSA Concepts Used</h3>
    
        <p>• HashMap (Dictionary)</p>
        <p>• Set (Duplicate Check)</p>
        <p>• Linked List (Vote History)</p>
        <p>• Sorting (Leaderboard)</p>
        <p>• Binary Search (User Search)</p>
    
    </div>
    
<div class="container">
    <h1>🗳 Voting System</h1>

    <p>Welcome to the Smart Voting System</p>
    <p>Click below to cast your vote</p>

    <br>

    <a href="/vote">
        <button>Go to Vote Page</button>
    </a>
</div>

</body>
</html>
