<!DOCTYPE html>
<html>
<head>
    <title>Vote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>🗳 Cast Your Vote</h2>

    <form method="POST">

        <input type="text" name="user" placeholder="Enter your name" required>

        <h3>Select Candidate:</h3>

        <label>
            <input type="radio" name="candidate" value="A" required>
            BHARATIYA JANTA PARTY
        </label><br>

        <label>
            <input type="radio" name="candidate" value="B">
            INDIAN NATIONAL CONGRESSS
        </label><br>

        <label>
            <input type="radio" name="candidate" value="C">
            NONE OF THE ABOVE
        </label><br><br>

        <button type="submit">Submit Vote</button>
    </form>

    <br>

    <a href="/">
        <button>⬅ Back to Home</button>
    </a>

</div>

</body>
</html>
